*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box
}
body{
    background: rgb(240, 240, 240);
}
.header{
    /* height: 100px; */
    position: relative;
    display: flex;
    border: 1px solid #ccc;
}
.configBtn{
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: .2em;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}
.configBtn:hover{
    background: rgb(208, 208, 208);
}
.configBtnClicked{
    background: rgb(178, 178, 178);
}
.configIcon{
    width: 1.2em;
}
.configIconClicked{
    transform: rotate(30deg);
}