.counter{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    padding-block: .7em;
    flex-grow: 1;
    margin: 1em;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.title{
    font-size: 1.2rem;
}
.count{
    font-size: 2.1rem;
}